<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wcities.eventseeker"
    android:installLocation="internalOnly"
    android:versionCode="10"
    android:versionName="1.6.1.4" >

    <!-- minSdk version increased from 11 to 14 to support multidex -->
    <uses-sdk android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    
    <supports-screens android:largeScreens="true"
        android:xlargeScreens="true" />
    
    <application android:name="com.wcities.eventseeker.app.EventSeekr"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.EventSeekr.App" >
        
        <activity android:name="com.wcities.eventseeker.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 03-03-2015: in below activity tag 'android:windowSoftInputMode=adjustResize' 
        is changed to 'android:windowSoftInputMode="adjustPan"', because Zach filed bug regarding 
        the Login and Signup screens that while filling the last fields in the form the keyboard hides 
        the EditText where data is filled. So, user is unable to see the details what is getting filled 
        while the keyboard is on-screen. So, by adding 'adjustPan' value the screen moves up when the
        keyboard is on-screen and user can see the data being filled. 
        
        NOTE: even tested the combination of 'adjustPan|adjustResize' on 'Api 11 emulator' & 
        'Nexus 5 with 21 Api' which was not working as expected. So, we are using just 'adjustPan' -->
        <activity android:name="com.wcities.eventseeker.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <!-- for twitter call back -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter_callback"
                    android:scheme="com.wcities.eventseeker" />
            </intent-filter>
        </activity>
        
        <!-- Due to video aspect ratio issue in landscape we are restricting orientation here to portrait -->
        <activity android:name="com.wcities.eventseeker.LauncherActivityTab"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!-- windowSoftInputMode="stateUnchanged" is used to retain soft keypad status (open/close) on 
        orientation change & "adjustResize" is to allow access to entire layout when keypad is open & to keep
        toolbar as it is which used to scroll up (becoming invisible) in absence of this "adjustResize" value -->
        <activity android:name="com.wcities.eventseeker.LoginActivityTab"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity android:name="com.wcities.eventseeker.SignUpActivityTab"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        
        <!-- Marked as singleTop due to search suggestion functionality -->
        <activity android:name="com.wcities.eventseeker.ChangeLocationActivityTab"
            android:launchMode="singleTop">
            
            <!-- for location search suggestions -->
            <intent-filter>
			    <action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable_location"/>
            
        </activity>
        
        <activity android:name="com.wcities.eventseeker.DiscoverActivityTab" /> 
        <activity android:name="com.wcities.eventseeker.SettingsActivityTab" />
        <activity android:name="com.wcities.eventseeker.ConnectAccountsActivityTab" />
        <activity android:name="com.wcities.eventseeker.EventDetailsActivityTab"
            android:theme="@style/Theme.EventSeeker.TranslucentWindow.DoubleLineToolbar" />
        <activity android:name="com.wcities.eventseeker.VenueDetailsActivityTab"
            android:theme="@style/Theme.EventSeeker.TranslucentWindow" />
        <activity android:name="com.wcities.eventseeker.ArtistDetailsActivityTab"
            android:theme="@style/Theme.EventSeeker.TranslucentWindow.DoubleLineToolbar" />
        <activity android:name="com.wcities.eventseeker.WebViewActivityTab" />
        <activity android:name="com.wcities.eventseeker.LanguageActivityTab" />
        <activity android:name="com.wcities.eventseeker.ArtistsNewsActivityTab" />
        <activity android:name="com.wcities.eventseeker.FriendsActivityActivityTab" />
        <activity android:name="com.wcities.eventseeker.FollowingActivityTab" />
        <activity android:name="com.wcities.eventseeker.RecommendedArtistsActivityTab" />
        <activity android:name="com.wcities.eventseeker.PopularArtistsActivityTab" />
        <activity android:name="com.wcities.eventseeker.NavigationActivityTab" />
        <activity android:name="com.wcities.eventseeker.SearchActivityTab" />
        <activity android:name="com.wcities.eventseeker.MyEventsActivityTab" />
        <activity android:name="com.wcities.eventseeker.AboutUsActivityTab" />
        <activity android:name="com.wcities.eventseeker.EULAActivityTab" />
        <activity android:name="com.wcities.eventseeker.RepcodeActivityTab" />
        <activity android:name="com.wcities.eventseeker.ArtistNewsActivityTab" />
        
        <activity android:name="com.wcities.eventseeker.SpotifyActivity" 
            android:theme="@style/Theme.Transparent"
            android:launchMode="singleTop" >
            
            <!-- for spotify call back -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="spotify_callback"
                    android:scheme="com.wcities.eventseeker" />
            </intent-filter>
            
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity android:name="com.wcities.eventseeker.CalendarActivity"
            android:label="@string/add_to_calender"
            android:icon="@drawable/ic_calendar"
            android:exported="false">
		    <intent-filter>
		        <action android:name="android.intent.action.SEND"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		        <data android:mimeType="image/*"/>
		    </intent-filter>
		</activity>

        <!-- for rdio -->
        <activity android:name="com.rdio.android.sdk.activity.OAuth2WebViewActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_v2_android_key" />
        
        <meta-data
            android:name="com.bosch.myspin.serversdk.maps.API_KEY"
            android:value="@string/map_v3_browser_key" /> 

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        
        <meta-data
		    android:name="com.google.android.gms.version"
		    android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.wcities.eventseeker.LockScreenActivity"
            android:label="Locked"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <activity
            android:name="com.wcities.eventseeker.exception.ReportActivity"
            android:label="Crash Reporting"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay" />

        <receiver
            android:name="com.wcities.eventseeker.widget.EventseekerWidgetProvider"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="eventseeker.appwidget.action.WIDGET_UPDATE" />
                <action android:name="eventseeker.appwidget.action.WIDGET_NEXT_EVENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name="com.wcities.eventseeker.widget.EventseekerWidgetService" />
        <service android:name="com.wcities.eventseeker.applink.service.AppLinkService" />

        <receiver android:name="com.wcities.eventseeker.applink.receiver.AppLinkReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.wcities.eventseeker.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.wcities.eventseeker" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.wcities.eventseeker.receiver.MusicNotificationReceiver" >
            <intent-filter>
                <action android:name="com.android.music.playstatechanged" />
                <action android:name="com.android.music.metachanged" />
            </intent-filter>
        </receiver>

        <!-- Bosch registrations start -->
        <!--
        1) singleInstance is used to have separate task for BoschMainActivity,
        so that we can then just move task to back & front to retain state at both sides
        2) excludeFromRecents & taskAffinity are used to handle case where user connects to bosch
        even before starting eventseeker app in mobile/tablet. In such case we want to exclude
        the only task started for bosch from recent apps. Hence used excludeFromRecents.
        And, w/o using taskAffinity al activities will have same affinity & hence even if user switches
        from bosch to mobile/tablet app, that mobile/tablet app task will also be excluded from recents.
        To prevent this & have mobile/tablet app task visible in the recent apps, we assign separate
        taskAffinity to this activity which is the only activity which we want to exclude from recents.
        -->
        <activity android:name="com.wcities.eventseeker.bosch.BoschMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EventSeekr.Bosch"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=".BoschMainActivity">

            <intent-filter>
                <action android:name="com.bosch.myspin.action.MAIN" />
            </intent-filter>

        </activity>
        <!-- Bosch registrations end -->
        
		<!--<activity android:name="com.wcities.eventseeker.BeatsMusicActivity"
        android:launchMode="singleTop" >-->
        <!-- for Beats Music call back -->
        <!--<intent-filter>
            <data android:host="beats_music_callback"
                android:scheme="com.wcities.eventseeker" />
        </intent-filter>
    </activity>-->
        
        <!-- meta-data for Beats Music -->
        <meta-data
            android:name="com.freethinking.beats.sdk.applicationname"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.freethinking.beats.sdk.id"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.freethinking.beats.sdk.secret"
            android:value="@string/shared_secret" />
        <meta-data
            android:name="com.freethinking.beats.sdk.storedprefskey"
            android:value="@string/shared_preference_key" />
        
        <provider android:name="com.wcities.eventseeker.provider.LocationProvider"
            android:authorities="com.wcities.eventseeker.provider.LocationProvider"
            android:exported="false" />

    </application>

    <permission
        android:name="com.wcities.eventseeker.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.wcities.eventseeker.permission.MAPS_RECEIVE" />
    
    <!-- Necessary for google analytics & ford -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <!-- Required to pair Bluetooth devices for ford sync -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- for google play music sync -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To add event to calendar -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />
	<!-- For direct call on ford version -->
	<uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- for bosch - to use moveTaskToFront() from BoschMainActivity -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
	
    <permission
        android:name="com.wcities.eventseeker.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.wcities.eventseeker.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <!-- To disable google app store filtering based on implied feature requirements from declared permissions -->
    <uses-feature android:name="android.hardware.location" android:required="false" />
	<uses-feature android:name="android.hardware.location.network" android:required="false" />
	<uses-feature android:name="android.hardware.location.gps" android:required="false" />
	
	<!-- CALL_PHONE permission above implies this feature requirement, but since it's not necessary, we mark
	it as required="false"; otherwise app in play store becomes incompatible for tablets -->
	<uses-feature android:name="android.hardware.telephony" android:required="false" />

</manifest>